# Dependencies
node_modules/
*/node_modules/
*/*/node_modules/
*/*/*/node_modules/

# Environment variables & secrets (CRITICAL)
.env
.env.*
!.env.example
*.env
*serviceAccountKey*.json
*.pem
*.key

# Production Builds
dist/
dist-ssr/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
logs/

# OS / Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
